.app {
  padding: 0px 110px 80px 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
}


@media screen and (min-width: 1200px) {
  .app {
    height: 100vh;
    
  }
}



