#root,* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans',
    sans-serif;
  background: #F3E4F1;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

